<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>253902707075-um7pifo105n9uiv18h4scvjug2mmmm65.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.253902707075-um7pifo105n9uiv18h4scvjug2mmmm65</string>
	<key>API_KEY</key>
	<string>AIzaSyByh95XRj2_5i1iN2eERUzqTn-a_CFtPZU</string>
	<key>GCM_SENDER_ID</key>
	<string>253902707075</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.error.amazonhandmadern</string>
	<key>PROJECT_ID</key>
	<string>handmade-error-404</string>
	<key>STORAGE_BUCKET</key>
	<string>handmade-error-404.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:253902707075:ios:d7b0231a393335c7</string>
	<key>DATABASE_URL</key>
	<string>https://handmade-error-404.firebaseio.com</string>
</dict>
</plist>